* {
	margin: 0;
    padding: 0;
	font-family: 'Courier New', Courier, monospace;
  	color: white;
}
/*PALETA DE CORES*/
#c1{
  color: rgb(239,71,111);
}
#c2{
  color: rgb(255,209,102);
}
#c3{
  color: rgb(195, 239, 71);
}
#c4{
  color: rgb(71, 195, 239);
}

body {
  background-color: #110553;
  margin: 20px;
} 
